NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

DATABASE_URL= # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL=  # Set this to the Session connection pooler string you copied in Step 1

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

FRONTEND_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

NEXT_PUBLIC_STRIPE_PRICE_ID=
SUPABASE_URL=https://ztefoxytlvztnlgctbub.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0ZWZveHl0bHZ6dG5sZ2N0YnViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMzc3OTU1OCwiZXhwIjoyMDQ5MzU1NTU4fQ.GE7P_uBy8sV4TIqZoJ_Mv0SfLVZknSxRpKDJkYtbWy4